<style>
/* Style the header */
.header {
    background-color: #eb8f8f;
    padding: 50px;
    text-align: center;
}
</style>
<div class="header">
  <h2>Header</h2>
  <h3>CSS Template using Float</h3>
  <p>In this example, we have created a header, three equal columns and a footer. On smaller screens, the columns will stack on top of each other. Resize the browser window to see the responsive effect.</p>
</div>
