
    <form action="/googldistance" method="post">
        <div class="input">
            <label for="TruckType">Origin</label>
            <input type="text" id="origin" name="origin" required="">
        </div>
        <button type="submit">INSERT</button>
    </form>
